<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dropdown Events</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>
<body>
  
    <h2><b>Sales by Food Categories</b></h2>
    <select id="selDataset">
        <option value="pizza"><b>Pizza</b></option>
        <option value="burger"><b>Burger</b></option>
        <option value="sandwich"><b>Sandwich</b></option>
        <option value="chicken"><b>Chicken</b></option>

    </select> 
       <div id="pie"></div>
       <script src="/static/scripts/data2.js"></script>
       <script src="/static/scripts/plots2.js"></script>
</body>
</html>

